{% extends 'base.html' %}

{% block title %} All In One Administrativos{% endblock %}

{% block sidebar %}
    {% include 'componentes/sidebar.html' %}
{% endblock %}

{% block content %}
<body class="">
    <img src="/static/Imagenes/Inacap_2.jpeg" alt="" class="absolute inset-0 w-full h-full object-cover opacity-40 z-[-1]">
<div class="">
    <div class="container mx-auto px-2 py-2">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-5/6 md:ml-auto"> <!-- Ajusta el ancho y posición del contenedor -->

                <!-- Contenedor de filtro y exportación -->
                <div class="flex justify-between items-center mb-4">
                    <!-- Formulario de filtrado -->
                    <form method="get" action="{% url 'all_in_one_adm' %}" class="flex items-center space-x-2">
                        <label for="filter_ubicacion_all_in_one_admin" class="block text-md leading-6 text-gray-800 font-bold">Filtrar por Ubicación:</label>
                        <select id="filter_ubicacion_all_in_one_admin" name="filter_ubicacion_all_in_one_admin" class="block w-36 rounded-sm border-0 bg-gray-200 py-0 text-black shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 sm:text-sm sm:leading-6">
                            <option value="" {% if filter_ubicacion_all_in_one_admin == "" %}selected{% endif %}>Todos</option>
                            {% for ubicacion in ubicaciones_all_in_one_admin %}
                                <option value="{{ ubicacion }}" {% if filter_ubicacion_all_in_one_admin == ubicacion %}selected{% endif %}>{{ ubicacion }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-2 py-1 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">Filtrar</button>
                    </form>

                    <!-- Botón de exportación a Excel -->
                    <div>
                        <a href="{% url 'descargar_excel' 'allinoneadmin' %}" class="rounded-sm bg-gradient-to-br from-green-600 to-green-900 px-2 py-2 text-white text-sm font-semibold shadow-sm hover:bg-green-400">Descargar Excel</a>
                    </div>
                </div>

                <div class="overflow-x-auto">
                    <table class="w-full text-center font-sans">
                        <thead class="border-b font-sans font-semibold bg-gradient-to-tr from-red-500 to-red-700">
                            <tr>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">ESTADO</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">MARCA</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">MODELO</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">N° SERIE</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">UNIVE</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">BDO</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">NETBIOS</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">UBICACIÓN</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-36">REGISTRADOR POR</th>
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">FECHA</th>
                                
                                {% if group_name_singular == 'ADR' %}
                                <th scope="col" class="text-start font-sans text-sm font-semibold text-white px-2 py-1 w-24">MODIFICAR</th>
                                {% endif %}
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for all_in_one in all_in_ones %}
                            <tr class="border-b border-neutral-100 bg-white text-gray-700">
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.estado|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.marca|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.modelo|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.n_serie|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.unive|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.bdo|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.netbios|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.ubicacion_all_in_one_admin|capfirst }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-40 truncate">{{ all_in_one.all_one_adm_creado.first_name }} {{ all_in_one.all_one_adm_creado.last_name }}</td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 w-24 truncate">{{ all_in_one.fecha|date:"d/m/Y"}}</td>
                                
                                {% if group_name_singular == 'ADR' %}
                                <td class="text-start font-sans border-r border-l bg-gradient-to-tr from-amber-600 to-amber-900 text-white text-sm px-2 py-0 w-24 truncate">
                                    <a href= {% url 'edit_all_in_one_adm' all_in_one.id %}>EDITAR </a>
                                </td>
                                {% endif %}
                            
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Botón debajo de la tabla -->
                <div class="mt-4">
                    <a href="{% url 'add_all_in_one_admin' %}" class="rounded-sm text-white text-sm text-center font-semibold bg-gradient-to-br from-red-600 to-red-900 px-2 py-2 w-24 md:w-auto">Agregar Activo</a>
                </div>

                <div class="text-black font-seminbold mt-5 text-center">
                    Página {{ all_in_ones.number }} de {{ all_in_ones.paginator.num_pages }}
                </div>

                <!-- Paginación -->
                <div class="flex justify-center mt-4">
                    <div class="inline-flex space-x-2">
                        {% if all_in_ones.has_previous %}
                            <a href="?page=1{% if filter_ubicacion_all_in_one_admin %}&filter_ubicacion_all_in_one_admin={{ filter_ubicacion_all_in_one_admin }}{% endif %}"
                               class="px-2 py-1 bg-red-700 text-white text-sm font-semibold rounded-sm hover:bg-red-400">Primero</a>
                            <a href="?page={{ all_in_ones.previous_page_number }}{% if filter_ubicacion_all_in_one_admin %}&filter_ubicacion_all_in_one_admin={{ filter_ubicacion_all_in_one_admin }}{% endif %}"
                               class="px-2 py-1 bg-red-700 text-white text-sm font-semibold rounded-sm hover:bg-red-400">Anterior</a>
                        {% endif %}

                        {% if all_in_ones.has_next %}
                            <a href="?page={{ all_in_ones.next_page_number }}{% if filter_ubicacion_all_in_one_admin %}&filter_ubicacion_all_in_one_admin={{ filter_ubicacion_all_in_one_admin }}{% endif %}"
                               class="px-2 py-1 bg-red-700 text-white text-sm font-semibold rounded-sm hover:bg-red-400">Siguiente</a>
                            <a href="?page={{ all_in_ones.paginator.num_pages }}{% if filter_ubicacion_all_in_one_admin %}&filter_ubicacion_all_in_one_admin={{ filter_ubicacion_all_in_one_admin }}{% endif %}"
                               class="px-2 py-1 bg-red-700 text-white text-sm font-semibold rounded-sm hover:bg-red-400">Último</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}
