{% extends 'base.html' %}

{% block title %}Modificar Activo Bodega{% endblock %}

{% block sidebar %}
    {% include 'componentes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="ml-64 mx-auto">
    <div class="flex flex-col md:flex-row">
        <!-- Contenedor de la imagen -->
        <div class="flex-shrink-0 w-1/3 md:w-1/4 flex items-center justify-center p-4">
            <img class="w-full h-auto rounded-lg shadow-lg" src="/static/Imagenes/adr_icon.png" alt="Imagen All In One">
        </div>
        <!-- Contenedor del formulario -->
        <div class="flex-2 p-4 md:p-8 bg-gradient-to-r from-red-900 to-red-700 rounded-lg shadow-lg">
            <h2 class="text-white text-2xl font-sans mb-4">Modificar Registro Activo Bodega ADR</h2>
            <form action="" method="post">
                {% csrf_token %}
                
                <!-- Fila 1 -->
                <div class="grid grid-cols-3 md:grid-cols-3 gap-4 mb-4">
                    <div class='block'>
                        <label for="activo" class="form-label text-white text-sm font-sans italic mb-1 block">Tipo de Activo</label>
                        <select name="activo" id="activo" class="form-input">
                            {% for value, label in form.activo.field.choices %}
                                <option value="{{ value }}" {% if form.activo.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="marca" class="form-label text-white text-sm font-sans italic mb-1 block">Marca</label>
                        <select name="marca" id="marca" class="form-input">
                            {% for value, label in form.marca.field.choices %}
                                <option value="{{ value }}" {% if form.marca.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="modelo" class="form-label text-white text-sm font-sans italic mb-1 block">Modelo</label>
                        <input type="text" name="modelo" id="modelo" class="form-input" value="{{ form.modelo.value }}" placeholder="modelo">
                    </div>
                    <div>
                        <label for="n_serie" class="form-label text-white text-sm font-sans italic mb-1 block">Número de Serie</label>
                        <input type="text" name="n_serie" id="n_serie" class="form-input" value="{{ form.n_serie.value }}" placeholder="Número de Serie">
                    </div>
                </div>
                
                <!-- Fila 2 -->
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
                    <div>
                        <label for="unive" class="form-label text-white text-sm font-sans italic mb-1 block">UNIVE</label>
                        <input type="text" name="unive" id="unive" class="form-input" value="{{ form.unive.value }}" placeholder="UNIVE">
                    </div>
                    <div>
                        <label for="bdo" class="form-label text-white text-sm font-sans italic mb-1 block">BDO</label>
                        <input type="text" name="bdo" id="bdo" class="form-input" value="{{ form.bdo.value }}" placeholder="BDO">
                    </div>
                    <div>
                        <label for="netbios" class="form-label text-white text-sm font-sans italic mb-1 block">NetBios</label>
                        <input type="text" name="netbios" id="netbios" class="form-input" value="{{ form.netbios.value }}" placeholder="NetBios">
                    </div>
                </div>
                <div class='block py-4'>
                    <label for="estado_activo" class="form-label text-white text-sm font-sans italic mb-1 block">Estado Activo</label>
                    <select name="estado_activo" id="estado_activo" class="form-input">
                        {% for value, label in form.estado_activo.field.choices %}
                            <option value="{{ value }}" {% if form.estado_activo.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Botón Guardar -->
                <div class="flex justify-start mb-2">
                    <button type="submit" class="bg-red-700 hover:bg-red-600 text-white font-medium py-2 px-4 rounded w-48">
                        Guardar
                    </button>
                </div>
                
                <!-- Enlace Regresar -->
                <div class="flex justify-start">
                    <a href="{% url 'bodega_adr' %}" class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-2 rounded w-48">
                        Regresar a Bodega ADR
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
