{% extends 'base.html' %}

{% block title %} Reporte de Equipos {% endblock %}

{% block sidebar %}
    {% include 'componentes/sidebar.html' %}
{% endblock %}

{% block content %}
<body class="">
    <img src="/static/Imagenes/Inacap_2.jpeg" alt="" class="absolute inset-0 w-full h-full object-cover opacity-40 z-[-1]">
<div class="">
    <div class="container mx-auto px-2 py-2">
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-5/6 md:ml-auto">

                <!-- Formulario de filtrado -->
                <div class="flex justify-between items-center mb-4">
                    <form method="get" action="{% url 'reporte_equipos' %}" class="flex items-center space-x-2">
                        <label for="filter_activo" class="block text-md leading-6 text-gray-900 font-bold">Filtrar por Activo:</label>
                        <select id="filter_activo" name="filter_activo" class="block w-44 rounded-sm border-0 bg-gray-200 py-0 text-black shadow-sm ring-1 ring-inset ring-red-500 focus:ring-2 sm:text-sm sm:leading-6">
                            <option value="" {% if filter_activo == "" %}selected{% endif %}>Todos</option>
                            {% for activo in activos %}
                                <option value="{{ activo }}" {% if filter_activo == activo %}selected{% endif %}>{{ activo }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-2 py-1 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">Filtrar</button>
                    </form>

                    <!-- Botón de exportación a Excel -->
                    <div>
                        <a href="{% url 'descargar_excel' 'reporte' %}" class="rounded-sm bg-gradient-to-br from-green-600 to-green-900 px-2 py-2 text-white text-sm font-semibold shadow-sm hover:bg-green-400">Descargar Excel</a>
                    </div>
                </div>

                <!-- Tabla de datos -->
                <div class="overflow-x-auto">
                    <table class="w-full text-center">
                        <thead class="border-b font-sans bg-gradient-to-tr from-red-500 to-red-700">
                            <tr>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">ENTREGADO POR</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">ACTIVO</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">MARCA</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">MODELO</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">N° SERIE</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">BOLSO</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">EQUIPO</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">CARGADOR</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">RECEPCIONADO POR</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">FECHA</th>
                                <th scope="col" class="text-start font-sans text-xs text-white px-2 py-1">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reporte_equipo in reporte_equipos %}
                            <tr class="border-b border-neutral-100 bg-white text-gray-700">
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.entregado_por|default:"---------------" }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.activo|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.marca|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.modelo|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    <a href="{% url 'detail_reporte_equipo' reporte_equipo.id %}" class="text-red-600 hover:underline">
                                        {{ reporte_equipo.n_serie|capfirst }}
                                    </a>
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.get_bolso_display|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.get_equipo_display|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.get_cargador_display|capfirst }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {% if reporte_equipo.reporte_creado %}
                                        {{ reporte_equipo.reporte_creado.get_full_name }}
                                    {% else %}
                                    ---------------
                                    {% endif %}
                                </td>
                                <td class="text-start font-sans border-r border-l text-black text-sm px-2 py-0 truncate">
                                    {{ reporte_equipo.fecha_recepcion|date:"d/m/Y" }}
                                </td>
                                <td class="text-start font-sans border-r border-l text-sm px-2 py-0 truncate
                                    {% if reporte_equipo.en_reporte %}
                                        bg-red-500 text-white italic <!-- Fondo rojo y texto blanco para 'En Reporte' -->
                                    {% else %}
                                        bg-gray-500 text-white <!-- Fondo gris y texto blanco para 'Reportar' -->
                                    {% endif %}
                                ">
                                    {% if reporte_equipo.en_reporte %}
                                        En Reporte
                                    {% else %}
                                        <a href="{% url 'edit_reporte_equipo' reporte_equipo.id %}" class="text-white text-sm">Reportar</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="text-black text-center mt-5">
                    Página {{ reporte_equipos.number }} de {{ reporte_equipos.paginator.num_pages }}
                </div>

                <!-- Paginación -->
                <div class="flex justify-center mt-4">
                    <div class="inline-flex space-x-2">
                        {% if reporte_equipos.has_previous %}
                            <a href="?page=1{% if filter_activo %}&filter_activo={{ filter_activo }}{% endif %}" class="px-2 py-1 bg-red-700 text-white rounded-sm hover:bg-red-400">Primero</a>
                            <a href="?page={{ reporte_equipos.previous_page_number }}{% if filter_activo %}&filter_activo={{ filter_activo }}{% endif %}" class="px-2 py-1 bg-red-700 text-white rounded-sm hover:bg-red-400">Anterior</a>
                        {% endif %}
                        {% if reporte_equipos.has_next %}
                            <a href="?page={{ reporte_equipos.next_page_number }}{% if filter_activo %}&filter_activo={{ filter_activo }}{% endif %}" class="px-2 py-1 bg-red-700 text-white rounded-sm hover:bg-red-400">Siguiente</a>
                            <a href="?page={{ reporte_equipos.paginator.num_pages }}{% if filter_activo %}&filter_activo={{ filter_activo }}{% endif %}" class="px-2 py-1 bg-red-700 text-white rounded-sm hover:bg-red-400">Último</a>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
{% endblock content %}

